name: "Build Armbian"
on:
  workflow_dispatch:
jobs:
  build-armbian:
    name: "Setting up OS"
    runs-on: ubuntu-latest
    steps:
      - name: "Build"
        uses: armbian/build@2cd46aceb5571db4746fdac9a32a5755f360b26b
        with:
          armbian_token:     "${{ secrets.GITHUB_TOKEN }}"  # GitHub token
          armbian_release:   "jammy"                        # userspace
          armbian_target:    "build"                        # build=image, kernel=kernel
          armbian_board:     "orangepizero2w"               # build target
          armbian_ui:        "server"                       # Selecting server over desktop
          armbian_artifacts: "build/output/images/"         # Location for artifacts to build
          armbian_compress:  "xz"                           # Compress output image so it will upload
